:root{
  --background:#0A0F1E;
  --surface:#111827;
  --surface-2:#1A2333;

  --primary:#00C2FF;
  --primary-hover:#00A8E8;

  --text:#F8FAFC;
  --muted:#94A3B8;

  --border:#233047;

  --success:#22C55E;
  --danger:#EF4444;
  --warning:#F59E0B;
}

@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body{
  background:var(--background);
  color:var(--text);
  font-family:var(--font-space), var(--font-geist-sans), sans-serif;
}

::selection{
  background:#00C2FF;
  color:white;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#0A0F1E;
}

::-webkit-scrollbar-thumb{
  background:#00C2FF;
  border-radius:999px;
}

::-webkit-scrollbar-thumb:hover{
  background:#00A8E8;
}